.separadorRojo{
	background-color: red;
	padding: 50px;
}
.separadorAzul{
	background-color: blue;
	padding: 50px;

}
.separadorVerde{
	background-color: green;
	padding: 62px;

}
.separadorVerde2{
	background-color: green;
	padding: 62px;

}
.fillVerde{
	background-color: green;
	padding: 50px;
}

.falta{
	background-color: purple;
	padding: 50px;
}
.largos{
	background-color: darkorange;
	padding: 85px 50px;
}
.cortos{
	background-color: blue;
	padding: 77px 20px;
}
.largo2{
	background-color: red;
	padding: 77px;
}
.chicos{
	background-color: gray;
	padding: 50px 0px;	
}
.f6c1s1{
	background-color: darkblue;
	padding: 10px 0px;	
}
.f6c1s2{
	background-color: black;
	padding: 40px 0px;	
}
.f6c3s1{
	background-color: darkorange;
	padding: 25px;
}
.f6c3s21{
	background-color: lime;
	padding: 25px 0px;
}
.f6c3s22{
	background-color: green;
	padding: 25px 0px;
}